@font-face {
  font-family: 'playfairDisplay';
  src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfairDisplayBold';
  src: url('/src/assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brittany';
  src: url('/src/assets/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'hkGrotesk';
  src: url('/src/assets/fonts/HKGrotesk-RegularLegacy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hkGroteskBold';
  src: url('/src/assets/fonts/HKGrotesk-BoldLegacy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'quicksand';
  src: url('/src/assets/fonts/Quicksand_Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'quicksandBold';
  src: url('/src/assets/fonts/Quicksand_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}